<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    注册bean-->
     <bean id="userService" class="cn.jinronga.UserServiceImpl"/>
    <bean id="log" class="cn.jinronga.log.Log"/>
    <bean id="afterLog" class="cn.jinronga.log.AfterLog"/>
    <bean id="diy" class="cn.jinronga.config.DiyPointcut"/>
    <bean id="apt" class="cn.jinronga.config.AnnotationPointcut"/>
    <aop:aspectj-autoproxy/>
<!--    aop配置
    <aop:config>
        &lt;!&ndash;第二种方式：使用AOP的标签实现&ndash;&gt;
        <aop:aspect ref="diy">
            <aop:pointcut id="diyPonitcut" expression="execution(* cn.jinronga.UserServiceImpl.*(..))"/>
            <aop:before method="before" pointcut-ref="diyPonitcut"/>
            <aop:before method="after" pointcut-ref="diyPonitcut"/>
         </aop:aspect>
    </aop:config>-->
</beans>